/*handheld and*/


@media (max-device-width:480px), (max-width:480px) {
    .center {
        max-width: 450px;
    }

    #wrapper {
        max-width: 450px;
    }
    html, body {
        width: 100%;
        font-size: 18px;
        min-width: 320px !important;
    }
    .headMenuTop {
        background-color: #fff;
        height: 113px;
    }
    .head a {
        border-bottom-color: transparent;
    }
    .breadcrumbs {
        display: none;
    }
    .logo {
        position: relative;
        left:-30px;
        top: 10px;
    }
    .logo span {
        height: 74px;
    }

    .mobileButSearch {
        position: relative;
        top: 20px;
    }
    #ymap {max-height: 400px !important;}

    .menusub3 {
        /*display: none;
        margin-left: 20px;
        margin-right: 20px;*/
        background: #e7e7e7;
        padding: 10px 20px !important;
    }
    .menusub3 li {
        background: none;
        padding: 0 0 0 1em;
        margin-right: 1em;
        border: none;
        border-left: 1px solid #ccc;
        border-radius: inherit;
    }
    .menusub3 li:last-child {padding-bottom: 0; margin-bottom: 0;}
    .menusub3 li a {color: #00B9DD;}
    .menusub3 li a nobr {white-space:normal;}
    .menusub3 li:hover {background: none; color:inherit;}
    .menusub3 li:hover a,
    .menusub3 li a:hover {color:inherit;}

    .cardfilter p label {
        width: 100%!important;
        text-align: left;
        height: auto!important;
        margin-bottom: 0.5ex;
    }
    .div-td-all {
        display: block;
    }
    .platej {
        padding: 0 20px;
    }
    .clear {padding: 0 !important;}
    .colum2-75-25>div {
        width: auto !important;
    }
    .colum2-30-70 > div,
    .colum2-70-30 > div,
    .colum2-40-60 > div {
        width: auto!important;
        padding: 0 20px;
    }
    .colum2-50-50 > div .colum2-30-70 > div,
    .colum2-50-50 > div .colum2-70-30 > div  {
        padding: 0;
    }
    .colum2-50-50 > div {
        width: auto;
        padding: 0 20px 20px;
        float:none;
    }
    .colum2-50-50 > div .colum2-50-50 > div,
    .colum2-70-30 > div .colum2-50-50 > div,
    .colum2-50-50.col2 > div {
        width: auto; margin-right:0; padding: 0;
    }
    .colum2-70-30 > div .colum2-50-50 > div {
        margin-bottom: 1em;
    }
    .colum2-20-80 > div:nth-child(odd) {
        width: 100%;
    }
    .colum2-20-80 {
        width: auto;
        padding: 0 20px;
    }
    .colum3-30 {margin-bottom: 0;}
    .colum3-30 > div {width: auto; margin-bottom: 1em;}
    .colum4-25 > div{
        width: auto!important;
        margin: 0 20px!important;
        margin-bottom: 20px!important;
    }
    .colum5-20 > div, .colum5-20 > div:first-child, .colum5-20 > div:last-child {
        width: 100%;
        margin: 0 0 20px!important;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .menusubhref {margin-left:17px;}
    .infocreditblock .colum2-50-50>div,
    .greenmenuinfomaterial .width50 {
        width: auto; padding: 0;
    }
    /*.creditfull > .width50:first-child,*/
    .col2-info > div:first-child {
        padding: 0 20px;
    }
    /*.creditfull > .width50,*/
    .col2-info > div {
        width:auto !important; margin-right: 0 !important; float:none !important
    }
    .zajavka.short-link > div {text-align:center;}
    .zajavka.short-link > div a {}
    .zajavka.short-link .greenbutton {width: 100%; margin-right: 0;}
    .zajavka.short-link .dotted {width: 210px; display:inline-block; margin-top: 1em; padding-left: 23px}
    .zajavka.short-link .dotted:after{top: 2px; width: 16px; height: 22px;}


    .colum2-50-50.bordertop .menugreenico ul,
    .colum2-50-50 .bordertop .menugreenico ul {
        padding-left: 0; padding-bottom: 0;
    }

    .td-width-ns .div-td-all .div-td:last-child, .potreb-credit-table-col6 .td-width-ns .div-th:last-child {
        width: 100%!important;
    }
    .div-td-all {
        display: block;
    }
    .div-td-all > .div-td {
        width: 100%!important;
        display: block!important;
        float: left!important;
        vertical-align: top;
    }
    .potreb-credit-table-col6 .div-th, .potreb-credit-table-col6 .div-td {
        width: 100%;
    }
    .div-tr .div-td {
        border-right: none;
    }
    h2 {font-size: 26px;}
    h3 {font-size: 19px;}
    #content {
        border: none;
        padding-top: 0;
    }
    #content h1 {
        border-bottom: none;
        margin-bottom: 30px;
        padding: 0 20px;
        font-size: 200%;
    }
    #content > p,
    #content > h2,
    #content > h3,
    #content > h4,
    #content div.notes,
    #content > .hidetext,
    #content > .hideblock {
        padding-left: 20px; padding-right: 20px;
    }
    #content > a.hrefimages {
        margin-left: 20px; margin-right: 20px;
    }

    #content form > div {padding: 0 20px;}
    #content form > div.form_fields_no_block {padding-top: 20px; padding-bottom: 20px;}
    ol.notes {
        margin-left: 0;
        padding-left: 2.5em; padding-right: 1em
    }
    ol,
    ul.line {margin-left: 1em;}
    #content > ol,
    #content > ul.line {margin-right: 1em;}
    #content > dl {margin-left: 1em; margin-right: 1em;}
    .lime-snoska {
        /*font-size: 0.8em;*/
    }
    p.lime-snoska {
        display: block;
        margin: 10px 0 20px;
        padding: 1em 1em 1em 70px !important
    }
    .infocreditblock .colum2-70-30>div {padding: 0;}
    .ice-ice .selectclear input[type="text"] {
        margin-bottom: 15px;
        width: auto;
    }
    .infocreditblock {padding: 20px 20px 0;}
    .table-colum-two tr td {
        display: block;
        width: 100%;
        float: left;
    }
    .banner {padding-top: 0;}

    .support {display: none; }
    .dectop {display: none;}
    .contactsme {display: none;}
    .ice-ice {
        background: #e5e5e5;
        padding: 20px;
        width: auto;
        padding-bottom: 3px;
    }
    .ice-ice .border-grey {padding-bottom: 0;}
    .ice-ice h4 {display: none;}
    .ice-ice .selectclear {margin-bottom: 0px;}
    .selectclear input {min-width: 230px;}
    .checkleft label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .searchblock{overflow: hidden;}
    .searchblock h2 {padding: 0 20px;}
    ul.linemenu {margin-bottom: 0;}
    .zag {width: auto;padding-bottom: 40px;}
    .minibredcrumps {display: block;}
    .touch {display: block;}

    .colum2-20-80>div:nth-child(even) {width: auto;}
    .colum2-20-80>div:nth-child(odd) {width: 100%;}
    .colum2-20-80 {
        width: auto;
        padding: 0 20px;
    }

    .div-table .div-tr:nth-child(odd),.div-table .div-tr:nth-child(even) {
        background: none;
    }
    .colum2 .width48 {
        width: 100%;
        margin: 0!important;
    }
    .bankomat a {
        font-size: 16px;
        line-height: 16px;
    }
    ul.infoblockMenuTop {
        width: auto;
    }
    .div-table .div-tr {
        min-height: inherit;
        padding: 5px 0 20px 0px;
    }
    #wrapper,
    .wrapper2 {
        padding: 0;
        width: 100%;
    }
    .wrapper2  .userquest{
        padding: 20px;
    }
    .mobilenone {
        display: none;
    }
    .greyline {
        padding-top: 15px;
        margin-bottom: 15px;
    }
    form.officefilter label {
        margin-right: 0px;
        width: 100%;
        padding-bottom: 8px;
    }
    /*.creditfull .ipad40, .creditfull .ipad60 {
        width: 100% !important;
        padding: 0 20px;
    }*/
    .bonusSlider {
        width: 360px;
        height: 150px!important;
    }
    .glavfilter>div:nth-child(2) {
        margin-top: 20px;
        padding-bottom: 20px;
        width: auto;
    }
    .officefilter .width33 {
        width: 100%;
    }
    .blockimg {
        display: none;
    }
    .bonusSlideContent>div {
        width: 360px;
    }
    .lime-snoska {
        margin-bottom: 25px;
    }
    img.db {
        display: none;
    }
    .liteBanner {
        display: none;
    }
    .zajavka-full-img,
    .zajavka-full-img > div:nth-child(1) > .colum2-50-50 {margin-bottom: 0;}
    .zajavka-full-img .colum2-50-50 > div {padding-bottom: 0;}
    .zajavka-full-img .colum2-50-50 > div:nth-child(2n+1) {margin-right: 0; padding-bottom: 0;}
    .zajavka-full-img h3 {font-size: 100%}

    .userquest {
        /*display: none;*/
    }
    .rashetspravka, .subscribe {
        /*display: none;*/
    }
    .userquest > .left {float: none; width: 100%;}
    .userquest .rashetspravka {background-size: 20px; padding-left: 30px}

    #content > .subscribe {display:block; padding-left: 20px; padding-right: 20px;}
    .userquest .subscribe {margin-top: 2em;}
    .userquest .subscribe > a {line-height:normal; height: 40px; background-size: 23px; padding-left: 30px; background-position: 0 2px;}
    .userquest .subscribe .selectclear {margin-bottom: 0;}
    .userquest .dopolnitelno h4 {padding-top: 0;}
    .userquest .subscribe .dopolnitelno h4 {padding-top: 1em;}
    .userquest .subscribe .pad50left {padding-left: 30px;}

    .col2-info .calcform {display:none;}
    /*.creditfull .calcform form.calculator,
    .creditfull .calcform {
        width: 349px;
    }*/
    .TimeTotal div:nth-child(3) select { width: 119px;   }
    .nextban {
        right: 10px;
        z-index: 50;
    }
    .prevban {
        left: 10px;
        z-index: 50;
    }
    .TimeTotal label{        font-size: 18px;    }
    .TimeTotal div {        margin-bottom: 10px;    }
    .TimeTotal {        margin-bottom: 5px;    }
    .TimeTotal div:nth-child(2) select {        width: 105px;    }

    .bannerblock {        height: 260px;    }

    form.officefilter input[type="text"] {        width: 60%;    }
    .headMenubottom, .headMenuTop .phone, .headMenuTop .headMenuRight  {        display: none;    }
    .headMenuRight a:nth-child(2), .headMenuRight a:nth-child(3) {        display: none;    }
    .headMenuTop .logo {
        width: 30%;
        margin-left: 0;
    }
    .mobileMenuClick {        width: 35%;    }
    .mobileMenuClick {        display: block;    }
    .mobileMenuClick a {
        width: 35px;
        height: 35px;
    }
    .headMenuTop .logo img {        width: 78px;    }
    .city {        display: none;    }
    .center {        width: 100%;    }
    .banner {
        height: auto;
        margin-bottom: 1px;
    }
    .banner img.dectop,
    .banner img.ipad  {        display: none;    }

    .banner img.mobilebanner {
        width: 100%;
        display: block;
        position: relative;
        z-index: 5;
    }
    .banner .shadowBanner {
        width: 100%;
        height: 26px;
        background: url(../img/mobileshadowBannerIpad.png) no-repeat 50% 0;
        bottom: 12px;
        display: none;
    }
    .infoblock  {
        height: auto;
        overflow: hidden;
    }
    ul.infoblockMenuTop {
        padding-left: 20px;
        border-bottom: none;
        padding-bottom: 0 !important;
        height: 100px;
    }
    ul.infoblockMenuTop li {height: 50px;}
    ul.infoblockMenuTop li a {
        font-size: 21px; padding: 0 15px;
    }
    ul.infoblockMenuTop.list_ofice {height: auto;}
    ul.infoblockMenuTop.list_ofice li {float: none; display:inline-block;}

    .mobilepro {
        display: none;
    }
    .clearIpad, .cleardesc {
        display: none;
    }
    button {
        font-size: 15px;
        padding: 4px 12px;
    }
    button:active {
        padding: 4px 12px!important;
        padding-bottom: 8px!important;
    }
    span.smallGrey {
        font-size: 18px;
        line-height: 20px;
    }
    .infoModul > div,
    .glavtab1 .infoModul > div,
    .glavtab2 .infoModul > div {
        width: 100%;
        margin-bottom: 0;
    }
    .infoModul > div  ul {
        margin-left: 20px;
        padding-right: 30px;
    }
    .infoModul > div ul li.name {
        font-size: 26px;
        padding-right: 40px;
    }
    /*.mainPageTabs .colum2-75-25 > div:last-child {padding-top: 0;}*/
    .mainPageTabs .infoModul .safety {margin: 1em 0 1em 20px;}
    .glavtab1 p:last-child {top: 0; padding-bottom: 0;}

    .infoModulen div ul {margin-left: 0;}

    .infoModul div .mobileprogram {
        width: 315px;
        height: 225px;
        /*background-position: 230px 20px;*/
        margin-left: 20px;
    }
    .mobileprogram div {
        padding: 20px 20px;
        width: 180px !important
    }
    .mobileprogram div p {
        font-size: 32px;
        padding-bottom: 10px;
    }
    .mobileprogram a {
        font-size: 22px;
    }
    .liteBanner {
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 20;
    }

    .liteBanner .bannerinfo:nth-child(2) {
        display: none;
    }
    .bannerslide, .bannerinfo {
        max-width: 400px;
        margin-bottom: 25px;

    }

    .bannerimgleft{
        width: 35%;
        height: 250px;
    }
    .bannerinforight {
        width: 65%;
        height: 250px;
    }
    .bannerinforight h3 {
        max-width: 220px;
    }
    .bannerinforight p {
        max-width: 230px;
        font-size: 13px;
    }
    .bannerinforight a {
        line-height: 35px;
        display: block;
        width: 100%;
        clear: both;
        font-size: 18px;
    }
    .bannerimgleft img {
        display: block;
        width: 100%;
        height: auto;
    }
    .bannernavigation {
        width: 49px;
        height: 24px;
        right: 30px;
        top: 30px;
    }
    .bannernavigation a {
        width: 24px;
        height: 24px;
    }
    .bannernavigation a.banprev {
        margin-right: 1px;
    }
    .bannerinforight button {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .bannerinforight div:nth-child(1),.bannerinforight div:nth-child(2)  {
        height: 80px;
    }
    .bannerinforight div:nth-child(3)  {
        height: 90px;
    }
    .allservices {
        margin-left: 20px;
    }

    .newsandservices,
    .eng .newsandservices {
        height: auto;
        background: none;
        overflow: hidden;
        margin-top: 1em;
    }
    .news {
        width: 100%;
        height: auto;
        background: #eeeeee;
    }
    .news h2 {padding-left:0;}
    .news > div{
        width: auto;
        padding-left: 20px;
    }
    /*.news div span {
        font-size: 20px;
        color: #7e7e7e;
    }
    .news div .width50, .services div .width50 {
        width: auto !important;
        height: inherit;
    }
.bottomInfo {
position: relative;
margin: 35px 0!important;
bottom: 0;
height: 40px;
}
.bottomInfo .width50 {
    width: 50%!important;
}
.news .bottomInfo .width50:first-child {
    width: 40%!important;
    padding-right: 0;
}*/
    .news_right {margin-left: -20px; margin-right: -20px;}
    .news_right .bottomInfo .width50 .rss_news {float:left;}

    .newsandservices .services {
        width: 90%;
        float: none;
        clear:both;
        height: auto;
        margin: 0 auto 20px;
    }
    .valute {
        width: 100%;
        float: left;
        height: auto;
        margin: 0;
        margin-bottom: 15px;
    }
    .valute > h2 {
        padding-left: 20px;
    }
    .valute .valuteinfohide span {
        padding-left: 0px;
    }
    .valuta_delta {margin-left: 1ex; font-size: 90%;}
    ul.nav_tab_valute {font-size: 110%;}

    .services>div {
        padding-left: 0;
    }
    /* .services>div h2 {
        padding-left: 20px;
    }*/
    .services .bottomInfo .width50 {
        width: 50%;
    }

    .services ul li {
        width: 100%;
        height: auto;
        /* padding-left: 65px;
        max-width: 340px; */
        padding-bottom: 15px;
        background-position: 20px 50%!important;
    }
    .services ul li:nth-child(1), .services ul li:nth-child(2) {
        /*display: none;*/
    }
    .services ul li:hover {
        background-color: #2ab4cf;
    }
    .services ul li:hover a {
        color: #fff;
    }
    .services ul li a {
        text-decoration: none;
    }
    .services .bottomInfo {
        display: none;
    }
    .valute table tr th,
    .valute table tr td
    {text-align: left;}
    .valute table {width: 100% !important;}
    .valute .social {float: none;}
    /*.valute table tr:nth-child(even) {background-color: #ebebeb;}
    .valute .answer table tr:nth-child(even) {background: none;}
    .valute .answer table tr:nth-child(odd) {background-color: #ebebeb;}
    */
    table.tablemobile {
        display: none;
        table-layout: fixed;
        margin-top: 20px;
    }
    table.tablemobile tr {
        height: 40px;
    }
    table.tablemobile tr:nth-child(even) {
        height: 40px;
        background-color: #ebebeb;
    }
    table.tablemobile tr td:first-child {
        padding-left: 20px;
    }
    table.tablemobile tr td:first-child, table.tablemobile tr th {
        color: #696969;
    }
    table.tablemobile tr th {
        font-size: 20px;
    }
    table.tableIpad{
        display: none;
    }
    .footer .center >div {
        padding: 0 20px;
    }
    .partners div {
        height: 60px;
        overflow-x: scroll;
    }
    .partners .prev,
    .partners .next {display: none !important;}
    .footer .partners {
        height: 160px;
        border-bottom: none;
    }

    .strahovanie {
        display: none;
    }
    .footer {
        height: auto;
        margin: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .footer .partners > div {overflow-x: scroll;}
    .footerCopirate {
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    .footerCopirate p {font-size: 14px; line-height: 16px;}
    .footerCopirate .smallGrey {font-size: 12px;}
    .footerInfo .social {margin-right: 6px;width:65%;}
    .social a {
        width: 46px;
        height: 46px;
        margin: 0;
        margin-right: 10px;
    }
    .origamiTradeMark {
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .origamiTradeMark span {font-size: 12px; margin-bottom: 0;}

    .footer .partners {display: block;}

    .headmenuMobileSlide {width: 360px;}

    .glavmenubutinside {width: 35px; height: 35px; top: 25px;}

    .wrapperinfoblock {
        padding: 0;
        background: #f2f2f2;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .greenmenusub li {
        width: 47%;
        display: table;
        float: left;
        background: #e5e5e5;
        text-align: center;
        height: 92px;
        padding: 0; margin: 0 0 1em 0;
    }
    .greenmenusub li:nth-child(2) {margin-left: 1%;}
    .greenmenusub li a {
        color: #7a7a7a;
        margin: 0;
        padding: 10px;
        border: none;
        display: table-cell;
        vertical-align: middle;
        font-size:100%;
    }
    .greenmenusub li.active {background: #019d3c;}
    .greenmenusub li.active a {color: #fff;}

    form.officefilter .greenmenusub_title {display: none;}
    form.officefilter .greenmenusub.left {float:none !important; clear: both;}
    form.officefilter .greenmenusub li {height: auto; box-sizing: border-box; padding: 0.5em 0; text-align:center;}
    form.officefilter .greenmenusub li::after {display: none;}

    #content {border: none; padding-top: 0;}

    .bigImg {display: none;}

    .greenmenuwrapper {width: 100%; overflow: auto;}

    .bigbut {font-size: 18px; padding: 10px 15px;}

    .colum4-25 > div,
    .colum4-25 > div:first-child,
    .colum4-25 > div:last-child {
        width: auto;
        margin: 0 20px;
        margin-bottom: 20px;
    }
    .colum6-16 > div{
        width: 50% !important;
        margin-right: 0%;
        float: left;
        margin-bottom: 20px;
    }

    ul.potrbclick {
        border-bottom: none;
        margin-bottom: 10px;
        width: 100%!important;
        overflow: hidden;
        height: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0 20px;
    }
    ul.potrbclick li.active a {background: #2ab4cf;}
    ul.potrbclick li a {padding: 0 15px;}
    ul.potrbclick li {margin-right: 15px;}
    .potrbfilter .width20 {width: 100%;}
    .potrbfilter .poruchitelstvo {margin-bottom: 0px;}
    .potrbfilter .list>a.dotted {font-size: 18px;}

    .infoBlock2 > div {float: left; width: 100%;}
    label {font-size: 18px;}

    .poruchitelstvo label{	margin-right: 30px;}
    .div-table h4 {
        font-size: 24px;
        padding-left: 20px;
        max-width:none;
        margin-bottom: 10px;
        float:none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .div-table a.dottedPlus {
        margin-left: 20px;
        line-height: 17px;
        margin-top: 1em;
        font-size: 15px;
    }
    .goToCompare {margin-right: 20px;}
    a.goToCompare span {margin-top: 8px !important;}
    .div-table .goToOrder {float:left; margin-left: 20px;}
    .addToCompare.in_compare {font-size: 14px !important;}
    .potreb-credit-table .full-tr {
        width: 100%;
        background: none;
        border-left: none;
    }
    .potreb-credit-table .div-td {padding: 0 20px 1em;}
    .potreb-credit-table .div-td:after {height: 1px; display:none;}
    .tdnameMobile {
        display: block;
        width: 100%:;
        font-weight: bold;
    }
    .tablenamehide {display: none;}
    .potreb-credit-table .div-tr .div-td:last-child {border-bottom: 1px solid #ccc;}

    form.officefilter {padding: 20px !important;}
    .officefilter input[type="text"] {
        font-size: 15px !important;
        height: 24px !important;
        line-height: 24px;
    }
    form.officefilter .glavfilter {padding-left: 0 !important; padding-right: 0 !important;}
    form.officefilter .greenmenuinfo {margin-bottom: 0;}
    form.officefilter .greyline {padding-top: 0;}
    #ymapb > div > div {padding-top: 0; font-size:inherit !important}
    #ymapb > div > div h3 {padding-top: 0;}
    .potrbfilter.in_type .list {padding-left: 0; padding-right: 0;}

    .potrbfilter.infoBlock1 .list .colum4-25 > div {margin: 0 0 20px !important; width: 100% !important}
    .potrbfilter.infoBlock1 .list .colum2-50-50 > div {padding-left: 0; padding-right: 0;}
    .potrbfilter.infoBlock1 .colum4-25 > div > .dopolnitelno {padding-bottom: 0;}
    .potrbfilter.infoBlock1 .colum4-25 > div > .dopolnitelno select {margin-bottom: 1em;}
    #DepositFormSearch .colum2-50-50 > div:last-child > p {display:none;}
    #DepositFormSearch .colum2-50-50 .dopolnitelno {padding-bottom: 0;}
    #DepositFormSearch .colum2-50-50 > div {padding-bottom: 0;}
    #DepositFormSearch .hidetabpotebcredit {padding: 0 !important;}
    #AbbCardSearchForm > div,
    #AbbCardPredopSearchForm > div {padding: 0 !important;}
    .dopolnitelno label {width: auto;}
    .rightbutton {float: none; margin-left: 20px;}

    .tabCalcBlock .infocreditblock .cardfilter,
    .calcDepositTabsBlock .m-t .cardfilter,
    .calcCorporate .cardfilter {padding-left: 0; padding-right: 0;}
    .tabCalcBlock .infocreditblock .cardfilter label[for="form_need_procuring"] {float: left; width: auto !important; margin-bottom: 1em;}
    .tabCalcBlock .infocreditblock .cardfilter .dopolnitelno {clear: both; float: none; padding-left: 0 !important;}
    .calcDepositTabsBlock .m-t .cardfilter .dopolnitelno,
    .calcCorporate .cardfilter .dopolnitelno {padding-left: 0 !important;}

    #deposit_calc_result .div-tr.full-tr div:last-child {padding: 0 20px;}
    h3.calc_result_info {padding-left: 20px; padding-right: 20px;}
    #calc_result {margin-top: 0;}
    .create_order {margin-top: 1em;}
    .create_order button {float:none;}
    .div-table .full-tr.res_calc {width: auto !important; padding-left: 10px !important; padding-right: 10px !important; font-size: 90%;}

    .officefilter .greenmenusub {}
    .officefilter .greenmenusub:after {content: ""; display:block; clear:both; width: 100%;}
    /*.officefilter .greenmenusub li {width: 47%; margin-left: 0; padding-right: 0; height: auto; margin-bottom: 20px;}*/

    #SearchCredit > div {padding: 0 !important;}

    .col2-info .zajavka.short-link .dotted {width: auto; margin-bottom: 1em;}
    .col2-info .zajavka.short-link .dotted:after {top: -1px;}

    .pr-smsbank a.imgico,
    .block-login-abonline {margin-top: 0;}
    .block-login-abonline  > div a.imgico {font-size: 100%;}
    .block-login-abonline  > div {position:static; width: auto; text-align:left}
    .block-login-abonline + .bordergrey {margin-top: 20px;}

    .table-infostroke {margin: 0 20px;}
    .table-infostroke td {display:block; padding-left: 0; padding-right: 0;}
    .table-infostroke th + td {padding-left: 1em;}
    .table-infostroke th {display:block; padding-left: 0; padding-right: 0;}

    .newslist li {float:none; width: 100% !important; margin-left: 0 !important;}
    .newslist li:nth-child(2) {border-top: 1px solid #E5E5E5; padding-top: 15px;}
    .sections {font-size: 17px;}
    .sections li {padding: 0.5em; max-width: 50%; text-align: center;}

    .zajavka {
        /*display: none;*/
    }
    .zajavka .txtmini, .zajavka .txtcallback {width: 95% !important; margin-bottom: 10px;}
    .zajavka .hide_from_mobile {/*display:none;*/}
    .zajavka input[type="submit"] + a.dotted {display:block; margin-top: 1em;}

    a.greenbutton {
        border-radius:0; background-image: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    input[type="submit"] {border-radius:0; background-image: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0;}

    .calend-investors .potrbfilter .colum2-20-80 > div:first-child {width: 100%;}
    .calend-investors .potrbfilter .colum2-20-80 > div:last-child {width: 100%;}
    .calend-investors .potrbfilter .colum2-20-80 label {display:block;}

    .colum3table .div-tr {display:block; width: auto; padding: 10px 0px;}
    .colum3table .tablenamehide {display: none;}
    .colum3table .div-td {
        width: 50%;
        display: block;
        float:left
    }
    .colum3table .div-td:last-child {
        width: 100%;
        display: block;
        float:nones
    }

    .paginator {margin: 0 20px}

    .mobileLinkQuick {margin-bottom: 10px;}
    /* .mobileLinkQuick .greenbutton,
    .mobileLinkQuick .greenbutton span {height: 35px} */
    .mobileLinkQuick .greenbutton {display: table; width: 90%;}
    .mobileLinkQuick .greenbutton span {display:table-cell; vertical-align:middle}

    /* сервис подбора карт */
    .card-podbor {}
    .card-podbor .list-result > div {float: none; clear:both; width: 100%; margin-bottom: 1.5em; text-align:left}
    .card-podbor .filter-card .title {clear:both;}
    .card-podbor .filter-card label {float: none; margin-right: 0em;}
    .card-podbor form > div {padding: 0 !important;}
    .card-podbor .group-p.p2 label {max-width: 100%; margin-right: 0em;}
    .card-podbor .group-p.p2 input[type="radio"] {margin-bottom: 0em; float: none; margin-top: 0px;}
    .card-podbor .list-result .name {width: 100%;}
    .card-podbor .list-result img {float:left; margin-right: 1em;}
    .card-podbor .list-result .greenbutton {margin-bottom: 0.5em;}
    .card-podbor .list-result .link {margin: 0; width: auto}

    #file_search_form .selectclear > input[type="text"] {line-height: 28px; width: 300px; margin-bottom: 1em;}

    /* аккредитованные партнеры ИПОТЕКА */
    .officefilter .ipotek-partner {padding: 0 !important;}
    .officefilter .ipotek-partner .colum4-25 > div {width: 100% !important; margin: 0 !important;}
    .officefilter .ipotek-partner .colum4-25 > div:nth-child(3n) > div {width: 100%; margin-right: 0; float:none}
    .officefilter .ipotek-partner .srok {margin-bottom: 1em; margin-top: 0;}
    .officefilter .ipotek-partner .srok > div {float: none;}
    .ipotek-partner-table .div-td:first-child img {width: 50%;}
    .ipotek-partner-detail .bordergrey {margin-bottom: 2em;}
    .ipotek-partner-detail .bordergrey .colum2-20-80 {padding: 0;}
    .ipotek-partner-detail .list-preview > div {height: 70px}

    .promo-block {background-position: 100% 0; padding-top: 173px; padding-left: 15px;}

    .phone-valut {display: block; float: none;   margin: 0 auto;  width: 90%;}
    /*.phone-valut .valute h2,
    .phone-valut .valute span {padding-left: 0;}*/
    .desc-valut {display:none; float: none !important;   margin: 0 auto;  width: 90%;}
    .newsandservices .reklblock,
    .rekl {display:none;}


    .div-table .promo_item h4 {margin-left: 0; padding-right: 10px;}
    .div-table .promo2 h4:after {left: -12px;}

    .image-confirm-zayavka .text,
    .image-confirm-zayavka .socio-subscr p {font-size: 113%;}

    .colum2-50-50.tablet > div {width: auto; margin-right: 0!important;}
    .questions_about_stock {
        font-size:18px;
        margin-left:45px;
    }
    .zajavka a.bluebutton {
        box-sizing:border-box;
        width:280px;
        text-align:center;
    }
    .zajavka a.bluebutton.online span {font-size: 18px;}

    .mobileLinkQuick a {margin: 0 1px;}
    .mobileLinkQuick a > span {
        font-size: 85%;
        padding: 0.5em 0.6em 0.6em
    }
    .mobileLinkQuick a i.ico {
        width: 22px; height: 19px;
        background-size: 22px auto;
    }

    #formWatch2pay .watchs > div:first-child {width: 100%; float: none; margin-bottom: 1em;}
    #formWatch2pay .watchs > div:last-child {width: 100%; float:none; }
    #formWatch2pay .watchs a {margin-right: 0; margin-bottom: 0.5em;}
    #formWatch2pay .watchs a img {width: 100px; height: auto;}
    #formWatch2pay .watchs .prim-ie {padding-right: 0;}
    #formWatch2pay .notes {padding-left: 0 !important; padding-right: !important;}
    #formWatch2pay .notes label {font-size: 85%;}

    .potrbfilter .link-loyalty {margin-bottom: 1em; float:left}

    /* оранжевые баннеры */
    .popup_money {background-size: 100% auto !important; width: 48px !important;}
    .popup_orange_text .akbars_online_bottom_btn {font-size: 14px;}
    .popup_orange_bottom.contribution {height: 108px;}
    .contribution .popup_orange_box {height:100px;}
    .contribution .popup_money {background-size: auto !important}
    .popup_orange_bottom.notification {height: 90px;}
    .notification .popup_orange_box {right: 0;}

    /* банер Экономьте время! на стр. офисов  */
    .save_your_time {display: none;}

    /* Таб акций на главной */
    .akcii-filter label {margin-bottom: 0.5em; min-width:100% !important}
    /*.list-akciy .bannerslide {height: auto;}
        .list-akciy .bannerimgleft {height: auto; width: 20%; padding-left: 0;}
        .list-akciy .bannerinforight {height:auto; width: 68%;}
            .list-akciy .bannerinforight > div {display:block;}
            .list-akciy .bannerinforight div:nth-child(1),
            .list-akciy .bannerinforight div:nth-child(2) {height:auto;}
                .list-akciy .bannerinforight h3 {padding: 20px 0 10px; font-size: 110%;}
                .list-akciy .bannerinforight a {display:inline; line-height: normal; font-size:inherit;}
                .list-akciy .bannerinforight p {max-width: none; font-size: 90%;}
                .list-akciy .date {margin-top: 1em; font-size: 89%}*/
    .colum2-50-50.list-akciy .item {font-size: 90%; padding-bottom: 0; padding-left: 0; margin-bottom: 1em}
    .list-akciy .pics {width: 20%; margin-left: 5%;}
    .list-akciy .info {width: 70%; margin-left: 30%;}
    .list-akciy .date {margin-top: 1em; font-size: 89%}
    .glavtab4 .list-akciy,
    .glavtab4 .akcii-filter {margin-right: 0;}

    .officefilter .potrbfilter.in_type.in_office .list > a.dotted {padding: 0; text-align: center;}
    .in_type.in_bankomat {padding-right: 0;}

    .valuteinfohide {left: -40px;}
    .arowinsite {right: 171px;}

    /* слайдер на странице офисов */
    .ofice-infoslider {display: none}

    .bottom-ushko {padding-right: 22px;}

    /*.link-biz-order-call .bottom-ushko .ico {display: none}*/
    .link-biz-order-call .bottom-ushko > p {width:auto; font-size: 90%; margin-bottom: 5px;}
    .link-biz-order-call .greenbutton {margin-left: 48px;}
    .link-biz-order-call .greenbutton span,
    .link-biz-order-call .bluebutton span {font-size: 14px;}

    #biz-order-call {width: 100% !important; height: 100% !important; overflow-y: auto}
    #biz-order-call label,
    #biz-order-call input[type="text"],
    #biz-order-call select {width:90%}
    #biz-order-call p.time input[type="text"] {width: 85%;}
    .form-biz-order-call .calendar {top: -26px;}

    .prolog-faq > div {padding: 0 20px; width: 90% !important;}
    .search-faq > div:first-child {float: none; margin-right: 0;}
    .search-faq .orangebutton.ask-me {width: 100%; text-align: center; margin-bottom: 1em}
    .search-faq .orangebutton.ask-me span {width: 97%; padding-left: 3%; padding-right: 0;}
    .search-faq .orangebutton.ask-me:after {left: 53px; top: 13px;}
    .search-faq input[type="text"] {width: 80%;}
    .search-faq input[type="submit"] {width: 16%; text-indent: -400px; margin-right: 0; }
    .search-faq form {position:relative;}
    .search-faq form:after {
        position:absolute;
        content:"";
        top: 10px; right: 14px;
        width: 24px; height: 24px;
        background: url("../img/search.png") no-repeat 0 0;
        background-size: cover;
        pointer-events: none;
    }
    .filter-faq .pad-20 {padding-top: 20px !important;}
    .filter-faq h3 {font-size: 120%; margin-left: 0;}
    .filter-faq p.dopolnitelno { padding-bottom: 0 !important;}
    .filter-faq .colum4-25 .dopolnitelno { width: auto; float: none; margin:1em 0 0 0 !important; padding: 1em 0 0 0; border-top:1px solid #d3d3d3;}
    .sorting-faq span:first-child {display:block; margin-bottom: 6px;}
    .sorting-faq label {margin-left: 0; margin-right: 1em; margin-top: 4px;}
    .filter-faq .paginator,
    .list-faq + .paginator {margin-left: 0; margin-right: 0; font-size: 95%}
    .filter-faq .paginator :first-child,
    .list-faq + .paginator :first-child {margin-left: 1em;}
    .item-faq .title {float:none;}
    .item-faq .que .text,
    .item-faq .que .sign,
    .item-faq .ans .text {margin-left: 0;}
    .item-faq .que .sign strong  {margin-top: 0.4em;}
    .item-faq .ans {margin-left: 1em; margin-right: 1em}
    .item-faq .ocenka {margin-top: -5em;}
    .item-faq .ocenka a.bad {margin-right: 0;}
    .item-faq .socio-like {margin-bottom: 1em; margin-top: 2em; margin-right: 0.7em}

    /* страница о безопасности */
    .page-bezopasnost {padding: 0 20px;}
    .page-bezopasnost .i1,
    .page-bezopasnost .i2,
    .page-bezopasnost .i3,
    .page-bezopasnost .i4,
    .page-bezopasnost .i5,
    .page-bezopasnost .i6,
    .page-bezopasnost .i7,
    .page-bezopasnost .i8,
    .page-bezopasnost .i9,
    .page-bezopasnost .i10,
    .page-bezopasnost .i11,
    .page-bezopasnost .i12,
    .page-bezopasnost .i13,
    .page-bezopasnost .i14,
    .page-bezopasnost .i15,
    .page-bezopasnost .i16,
    .page-bezopasnost .i17,
    .page-bezopasnost .i18,
    .page-bezopasnost .i19 {display: none !important}
    .page-bezopasnost .pp3 .colum2-50-50 > div {margin: 0 !important; padding: 0;}

    .calcDepositTabsBlock .potrbfilter.infoBlock1 .list .colum4-25 > div:last-child {margin-bottom: 10px !important;}
    .calcDepositTabsBlock .otfiltrovano {text-align:center; margin-top: 0.5em;}

    .ubrr {margin-top: 10px;}

    .zvezda::after {
        top: 19px; left: 6px;
    }
    .zvezda h4 {padding-left: 24px;}

    /* серо-оранжевые табы */
    .nav_tab_greyorange {}
    .nav_tab_greyorange li {font-size: 17px;}
    /* оценка от 1 до 5 в форме отзыва */
    .num_ocenki label span {font-size: 19px; line-height: 19px; width: 19px;}
    /**/
    .anketa_kachestva .poruchitelstvo p {width: 100%;}
    .anketa_kachestva .colum2-50-50 {margin-bottom: 0;}
    .anketa_kachestva .colum2-50-50 > div {width: 100%; margin-left:0; float: none; padding-left: 0; padding-right: 0;}

    /* новый звездочки 2015*/
    .raiting_2015 {height: 48px; width: 236px;}
    .raiting_2015 > div {height: 42px; background-size: 236px auto;}
    .raiting_blank_2015 {background-position: 0 0; width: 236px;}
    .raiting_hover_2015 {background-position: 0 -50px;}
    .raiting_votes_2015, .raiting_votes_fixed_2015 {background-position: 0 -100px;}

    /* Новые формы и эелементы форм*/
    .new_form .foot_form  {padding-bottom: 38px !important;}
    .new_form.page_type .block-light-grey {padding: 5% !important;}
    .new_form .label_col3 label,
    .new_form .label_col2 label {float: none; width: auto;}
    .yespole.show {display:none;}
    .new_form .label_col.list_raiting label {margin-bottom: 2em;}
    .new_form .list_raiting .raiting_star_2015 {float:none; display:block; margin-right: 0; margin-bottom: 7px;}
    .new_form .list_raiting .raiting_2015 {margin: 0 auto;}
    .new_form .list_raiting span {margin-left: 0; text-align:center;}


    /*Пошаговый тип форм */
    .new_form.stepbystep_type {}
    .new_form.stepbystep_type .block-light-grey {padding: 5% !important;}
    .new_form.stepbystep_type .colum2-40-60 > div {padding: 0 !important;}
    .new_form.stepbystep_type .prolog {background-size: auto 220px; background-position: 150% 0;}
    .new_form.stepbystep_type .vote_title {width: 60%;}
    .new_form.stepbystep_type .vote_title .title {font-size: 18px;}
    .new_form.stepbystep_type .epilog {background-size: auto 220px; background-position: 150% 0;}
    .new_form.stepbystep_type .epilog h3 {font-size: 23px;}
    .new_form.stepbystep_type .prolog input.orangebutton,
    .new_form.stepbystep_type .epilog input.orangebutton {font-size: 100%; padding-left: 2em !important; padding-right: 2em !important;}

    .new_form.stepbystep_type .step {}
    .new_form.stepbystep_type .title {font-size: 21px;}
    .new_form.stepbystep_type .title i {font-size: 24px;}
    .new_form.stepbystep_type .label_col {font-size: 140%;}
    .new_form.stepbystep_type .foot_step {padding-bottom: 1em;}
    .new_form.stepbystep_type .foot_step .small {padding-bottom: 1.5em;}
    .new_form.stepbystep_type input.orangebutton {margin-bottom: 0;}
    .new_form.stepbystep_type .box_progress_bar {font-size: 34px; margin-bottom: 30px; margin-top: 20px; text-align:center}
    .new_form.stepbystep_type .box_progress_bar > span {margin-right: 0px; display:block;}
    .new_form.stepbystep_type .box_progress_bar .progress_bar {height: 30px; width: 100%; border-radius: 5px;}

    .search_faq input[type="text"] {width: 60%;}
    .nav_tab_faq {padding: 0 20px;}
    .nav_tab_faq li {width: 100%; float:none; margin-bottom: 0.5em;}
    .nav_tab_faq li.rko a {width: 100%;}
    .search_faq,
    .tab_faq {padding-left: 20px; padding-right: 20px;}

    .ban_opros {width: 100%; margin-left: 0;}
    .mainPageTabs .glavtab1 .colum2-75-25 > div:last-child {display: none;}
    .infoblock .valute {margin-top: 0;}
    div.glavtab1,
    div.glavtab2,
    div.glavtab3 {padding-bottom: 15px;}

    .div_tabl {display:block;}
    .div_tabl > div {display: block; margin: 0 20px 15px;}
    .what_infokioski > div:first-child {display:none;}
    .what_infokioski > div:last-child {padding-top: 0px;}

    .mobileButSearch:hover,
    .mobileButCallBack:hover,
    .glavmenubut:hover {
        border-bottom-color: transparent !important;
    }

    #content {
        background-color: #eeeeee;
        margin-top: -50px;
    }

    #content h1 {
        margin-top: 35px !important;
        display: inline-block;
    }

    .menusub3 {
        display: none;
    }
    #content .mobile-navigation {
        display: block; /* скрытое мобильное меню */
    }
    nav[role="navigation"] {
        background: #fff;
        height: 82px;
        display: inline-block;
        margin: 0 20px 0 20px;
        color: #363636;
        border: 1px solid #d8d7d7;
        position: relative;
        z-index: 201;
    }

    .mobile-navigation__toggle .toggle-2 {
        background: url(../img/toggle-2.png) no-repeat !important;
        position: relative;
        left: 0;
        display: inline-block;
        height: 35px;
        width: 32px;
        top: 20px;
    }

    nav[role="navigation"] a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
    }


    nav[role="navigation"] li {
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
        background: #fff;
        border-bottom: 1px solid #d8d7d7;
        border-top: 1px solid #d8d7d7;
        padding: 10px 0;
    }

    nav[role="navigation"] span {
        font-size: 25px;
    }

    .mobile-navigation__menu {
        display: none;
        margin-top: 35px;
    }

    .mobile-navigation__menu:after {
        content: url(../img/menu-arrow.png);
        position: absolute;
        top: 25px;
        right: 10px;
    }

    .toggle-menu-name {
        position: relative;
        left: 10%;
        top: 10px;
    }
    .arrow-toggle {
        position: absolute;
        top: 25px;
        right: 10px;
        z-index: 1000;
        width: 25px;
        height: 25px;
    }
    .main-style .filter,
    .main-style .cardsSort{
        display: none;
    }
    .checkbox-inner {
    }
    .slick-slider {
        z-index: 101;
    }
    .slick-slider > div {
        height: auto;
    }
    .slick-slider input {
        opacity: 0;
        position: absolute;
    }

    .slick-slider input[type="radio"]:not(checked) + label {
        position: relative;
    }

    .slick-slider input[type="radio"]:not(checked) + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: -33px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: white;
        border: 1px solid #afafaf;
    }

    .slick-slider input[type="radio"]:not(checked) + label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -28px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: #FFF;
        transition: all .2s;
    }

    .slick-slider input[type="radio"]:checked + label:after {
        background: #009c34;
    }

    .slick-slider input[type="radio"]:focus + label:before {
        border: 1px solid #009c34;
    }

    .slick-slider input[type="checkbox"]:not(checked) + label {
        position: relative;
    }

    .slick-slider input[type="checkbox"]:not(checked) + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: -33px;
        width: 18px;
        height: 18px;
        background: white;
        border: 2px solid #afafaf;
    }

    .slick-slider input[type="checkbox"]:not(checked) + label:after {
        content: url("../img/confirm-new.png");
        position: absolute;
        top: 2px;
        left: -29px;
        transition: all .2s;
        opacity: 0;
    }

    .slick-slider input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .slick-slider input[type="checkbox"]:checked + label:before {
        border: 2px solid #009c34;
        background-color: #009c34;;
    }
    #mobile-slide1 > div,
    #mobile-slide2 > div,
    #mobile-slide3 > div,
    #mobile-slide4 > div,
    #mobile-slide5 > div{
        margin-bottom: 15px;
        margin-left: 60px;
        margin-top: 20px;
        text-align: left;
    }
    #mobile-slide1 .mobile-filter-name,
    #mobile-slide2 .mobile-filter-name,
    #mobile-slide3 .mobile-filter-name,
    #mobile-slide4 .mobile-filter-name,
    #mobile-slide5 .mobile-filter-name {
        font-family: "AgoraR", Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #363636;
        float: left;
        padding-left: 5%;
        display: inline-block;
    }

    #mobile-slide1 > div:first-of-type,
    #mobile-slide2 > div:first-of-type,
    #mobile-slide3 > div:first-of-type,
    #mobile-slide4 > div:first-of-type,
    #mobile-slide5 > div:first-of-type{
        margin-top: 30px;
    }
    #mobile-slide5 .mobile-filter-name {
        padding-left: 3%;
        margin-bottom: 15px;
    }
    #mobile-slide5 label {
        display: inline-block;
    }
    .slider,
    .footer-contact-info,
    .contact-info__block,
    .footer,
    #card3,
    #card4{
        display: none !important;
    }
    #wrapper {
        margin-bottom: -400px;
    }
    html {
        background: #eeeeee;
    }
    .card-item__capabilities {
        width: 100%;
    }
    .card-item__offer {
        display: none;
    }
    .footer__contact-info {
        border-bottom: none;
        box-shadow: none;
    }
    .card-item__compare {
        display: none;
    }
    .cards-content {
        position: relative;
        margin-top: 25px;
    }
    #card1 .card-item__title {
        position: absolute;
        top: 300px;
        font-size: 25px;
    }
    #card1 .card-item__title span {
        display: none;
    }
    #card2 .card-item__title {
        position: absolute;
        top: 680px;
        font-size: 25px;
        width: 70%;
    }
    .logo span {
        top: 0;
    }
    .mobile-cards-content-title {
        display: block;
        position: absolute;
        font-size: 25px;
        color: #898989;
        left: 15px;
        top: 10px;
    }

    #wrapper .CardTabsBlock {
        float: left;
        margin-left: 5%;
    }
}

@media (max-device-width:410px) , (max-width:410px){
    .toggle-menu-name {
        font-size: 20px !important;
        left: 5%;
    }
    .arrow-toggle {
        display: none;
    }
    #card1,#card2 {
        padding-left: 0 !important;
    }

}


@media (max-device-width:400px) , (max-width:400px){
    ul.infoblockMenuTop {padding-left: 0;}
    ul.infoblockMenuTop li a {font-size: 19px}
    #card1,#card2 {
        padding-left: 0 !important;
    }
}


@media (max-device-width:360px) , (max-width:360px){
    ul.infoblockMenuTop {height: 150px;}
    ul.infoblockMenuTop li {}
}
@media (max-device-width:320px) , (max-width:320px){
    html, body {
        width: 320px;
        font-size: 14px;
    }
    .headMenuTop {
        background-color: #fff;
    }
    h1 {
        font-size: 28px;
        line-height: 28px;
    }
    h2 {
        font-size: 24px;
    }
    ul {
        padding-bottom: 5px;
    }
    nobr {
        white-space: inherit;
    }
    #wrapper,
    .wrapper2 {
        margin-top: 15px;
    }
    #wrapper #content > p,
    .wrapper2 #content > p {
        padding: 0 20px 10px 20px;
    }
    #content>h3 {
        font-size: 19px;
        /*padding: 0 20px;*/
        padding-bottom: 15px;
    }
    #content>ul {
        /*padding: 0 20px;*/
        padding-bottom: 15px;
    }
    .colum2-50-50>div {
        width: auto!important;

    }
    .colum4-25>div {
        margin: 0!important;
    }
    label {
        font-size: 14px;
    }

    .mobileMenuClick a.mobileButCallBack {
        float: right;
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
    }
    .bannerslide, .bannerinfo {
        max-width: 320px;
        height: 250px;
    }
    .bankomat a {
        font-size: 14px;
    }
    .bankomat span {
        margin-right: 5px;

    }
    /*.menusubhref {
        display: none;
    }*/
    .menusubhref {
        font-size: 20px;
    }
    .mainPageTabs .infoModul .safety {font-size: 20px;}

    .bankomat span a {
        font-size: 18px!important;
    }
    /* удалить при добавлении таба акций
    ul.infoblockMenuTop li a {
    font-size: 18px;
    } */
    .infoModul div ul li.name {
        font-size: 23px;
        padding-right: 40px;
    }
    button {
        font-size: 14px;
        padding: 5px 15px;
    }
    span.smallGrey {
        font-size: 14px;
        line-height: 16px;
    }
    /*.infoModul ul li a, .infoModulen ul li a {
        padding-right: 20px;
    }*/

    .infoModul div {
        width: 100%;
        margin-bottom: 20px;
    }
    ul.infoblockMenuTop {padding-left: 10px;}
    /*закомментировать при табе акций
    ul.infoblockMenuTop li a {
            font-size: 15px;
        } */

    .news div span {font-size: 16px;}
    .news p {
        padding-right: 20px;
    }

    .valute .question {padding-left: 0; padding-right: 0;}
    .valute .answer {padding: 0;}

    .headmenuMobileSlide .bottomshadow {
        height: 50px;
    }
    .bannernavigation {
        width: 49px;
        height: 24px;
        left: 30px;
        bottom: 30px;
        top: initial;
    }
    .headmenuMobileSlide {
        width: 320px;
    }
    .headmenuMobileSlide select {
        width: 150px;
    }
    .mobileheadsearch input[type="text"]{
        width: 120px;
    }
    .mobileheadcontacts div a {
        font-size: 15px;
    }
    .footer .partners>div {
        overflow-x: scroll;
    }
    /* .mobileheadcontacts div span {
    display: block;
    width: 100%;
    font-size: 30px!important;
    padding-bottom: 25px;
    background: url(../img/phonegreen.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size: 21px;
    padding-left: 40px;
    }*/
    .mobileheadcontacts div span a.bigphonemob {
        font-size: 30px;
    }
    .zajavka-full-img {padding: 0 20px;}
    .zajavka-full-img .colum2-50-50>div {
        padding: 0;
    }
    .infocreditblock .colum2-70-30>div {
        padding: 0!important;
    }
    .infocreditblock .colum2-70-30>div .cardfilter {
        padding: 0!important;
    }
    .infocreditblock .colum2-70-30>div .cardfilter select{
        max-width: 250px;
    }
    .create_order button {
        float: none;
    }
    form .blockinfoline h4 {
        padding-right: 15px;
        font-size: 16px;
    }
    .selectclear select.long {
        max-width: 200px;
        min-width: 200px;
    }
    form .blockinfoline {
        padding: 15px;
    }
    #content>h3 {
        font-size: 19px;
        padding: 0 20px;
        padding-bottom: 15px;
    }
    #content>ul {
        padding: 0 20px;
        padding-bottom: 15px;
    }
    .question, .answer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .answer {
        padding-top: 15px;
    }
    .infocreditblock .question,
    .infocreditblock .answer {padding-left: 0; padding-right: 0;}
    .menusub3 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .promo-block {background-size: 310px;}

    .colum2-50-50 > div:nth-child(2n+1) {margin-right: 0!important;	}
    .questions_about_stock {margin-left:27px;}
    .zajavka a.bluebutton {
        width:240px;
        margin-bottom: 10px;
    }
    .zajavka a.bluebutton.online {width: 100%;}

    .mobileLinkQuick a > span {
        font-size: 97%;
        padding: 0.5em 0 0.6em 5px;
        text-align: left;
    }
    .mobileLinkQuick a i.ico {float:left;}
    .mobileLinkQuick .lh {line-height: 1.1em;}
    .mobileLinkQuick a i.cardtocard {}
    .mobileLinkQuick a i.bankok {}


    div.first span,
    div.first p,
    .zajavka.short-link a {font-size: 120%;}

    #formWatch2pay .notes label {font-size: 100%;}

    /* оранжевые баннеры */
    .popup_money  {display: none;}
    .popup_orange_text,
    .popup_orange_bottom.notification .popup_orange_text {width: 90%;}
    .popup_orange_bottom.notification {height: 115px;}
    .notification .popup_orange_box {right: 0;}
    .notification .connect {margin-left: 0; margin-top: 8px;}

    /*.list-akciy .bannerimgleft {display: none;}
    .list-akciy .bannerinforight {width: 100%; font-size: 130%;}*/
    .colum2-50-50.list-akciy .item {font-size: 111%; padding-right: 0;}
    .list-akciy .pics {display: none}
    .list-akciy .info {width: 95%; margin-left: 5%;}

    .link-biz-order-call .bottom-ushko {padding-right: 13px;}
    .link-biz-order-call .bottom-ushko > p {font-size: 100%;}
    .link-biz-order-call .greenbutton span,
    .link-biz-order-call .bluebutton span {padding-left: 5px; padding-right: 5px;}
    .link-biz-order-call .bluebutton {margin-left: 0.2em;}

    .search-faq .orangebutton.ask-me:after {top: 10px;}
    .search-faq input[type="text"] {
        width: 79%;
        height: 34px; line-height: 34px;
    }
    .search-faq form:after {top: 8px;}
    .item-faq .ocenka {margin-top: -6.5em;}
    .item-faq .socio-like {margin-top: 3em;}

    .page-bezopasnost .question {padding-left: 0; padding-right: 0;}


}












