doctype html
html
    head
        meta(charset="utf-8")
        title Bootstrap Task 4
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="styleSheet" href="bootstrap-3.3.6-dist/css/bootstrap.css")
    body
        form.form-horizontal
            fieldset
                legend Вход на сайт
                div.form-group
                    label.control-label.col-sm-2(for="inputLogin") Логин
                    div.col-sm-10
                        input(id="inputLogin" placeholder="Введите Логин")
                div.form-group
                    label.control-label.col-sm-2(for="inputPassword") Пароль
                    div.col-sm-10
                        input(id="inputPassword" placeholder="Введите Пароль")
                div.form-group
                    div.checkbox.col-sm-10.col-sm-offset-2
                        label
                            input(type="checkbox")
                            Запомнить меня
                div.form-group
                    div.checkbox.col-sm-10.col-sm-offset-2
                        button(type="submit") Войти
script(src="jquery.js")
script(src="bootstrap.js")