doctype html
html
    head
        meta(charset="utf-8")
        title Bootstrap Task 5
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="styleSheet" href="bootstrap-3.3.6-dist/css/bootstrap.css")
    body(style="text-align:center;")
        h1 Bootstrap Компоненты
        div.btn-group
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-align-left
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-align-center
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-align-right
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-align-justify
        div.btn-group.btn-group-sm
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-bold
            a.btn.btn-primary(href="#")
                i.glyphicon-italic.glyphicon
            a.btn.btn-primary(href="#")
                i.glyphicon.glyphicon-font
        div.btn-group.btn-group-justified(style="margin-top: 50px;")
            a.btn.btn-warning Text
            a.btn.btn-info Text
            a.btn.btn-danger Text
        h1 Ниспадающее меню
        div.dropdown(style="text-align: left;")
                a.btn.btn-default(id="dLabel" role="button" data-toggle="dropdown" aria-expanded="false" data-target="#" href="/page.html" style="margin-left: 47%;") Меню
                    span.caret
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel" style="margin-left: 47%;")
                    li(role="presentation")
                        a(role="menuitem" href="#") Text1
                    li(role="presentation")
                        a(role="menuitem" href="#") Text2
                    li(role="presentation")
                        a(role="menuitem" href="#") Text3

        h1 Вкладки Bootstrap
        ul.nav.nav-pills.nav-justified(role="tablist")
            li.active(role="presentation")
                a(href="#tab1" role="tab" data-toggle="tab") Tab 1
            li(role="presentation")
                a(href="#tab2" role="tab" data-toggle="tab") Tab 2
            li(role="presentation")
                a(href="#tab3" role="tab" data-toggle="tab") Tab 3
        div.tab-content
            div.fade.tab-pane.active#tab1(role="tabpanel") Important things
            div.fade.tab-pane#tab2(role="tabpanel") More important thing
            div.fade.tab-pane#tab3(role="tabpanel") The most important thing

        h1 Нумерация страниц
        ul.pagination.pagination-lg(style="margin-bottom: 50px;")
            li.disabled
                a(href="#") &laquo;
            li.active
                a(href="#") 1
            li.active
                a(href="#") 2
            li.active
                a(href="#") 3
            li.active
                a(href="#") 4
            li.active
                a(href="#") 5
            li.active
                a(href="#") &raquo;

        h1 Thumbnails
        div.row
            div.col-xs-6.col-md-3
                a.thumbnail(href="#")
                    img(src="https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-breed-landing-hero.ashx")
            div.col-xs-6.col-md-3
                a.thumbnail(href="#")
                    img(src="https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-breed-landing-hero.ashx")
                h3 Котенок Гав
                p
                    a.btn.btn-primary(href="#" role="button") Перейти
            div.col-xs-6.col-md-3
                a.thumbnail(href="#")
                    img(src="https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-breed-landing-hero.ashx")
            div.col-xs-6.col-md-3
                a.thumbnail(href="#")
                    img(src="https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-breed-landing-hero.ashx")

        h1(style="margin: 80px auto;") Информационные сообщения
        div.alert.alert-success(role="alert")
            a.alert-link(href="#") Everything is ok
        div.alert.alert-info.alert-dismissable(role="alert")
            button.close(data-dismiss="alert" type="button")
                span &times;
            span Информационная кнопка
        div.alert.alert-warning(role="alert")
            a.alert-link(href="#") Warning Message
        div.alert.alert-danger(role="alert")
            a.alert-link(href="#") Danger Message

        h1(style="margin: 80px auto;") Всплывающая подсказка в Bootstrap
        p(style="margin-bottom: 100px;") Популярность языка JavaScript порождена его широкими возможностями по взаимодействию с элементами веб-страницы через
            abbr(title="Document Object Model, Обьектная модель документа" data-toggle="tooltip" data-placement="bottom") DOM

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="bootstrap.js")
        script
            | $(function () {
            | $('[data-toggle="tooltip"]').tooltip()
            | })