doctype html
html
    head
        meta(charset="utf-8")
        title Bootstrap
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="styleSheet" href="bootstrap-3.3.6-dist/css/bootstrap.css")
        link(rel="styleSheet" href="task2.css")
    body
        div.container
            div.row
                div.col-xs-12.hidden-xs Адаптивный макет на Bootstrap
                div.col-xs-12.col-sm-8.col-md-8 Колонка 1
                div.col-xs-12.col-sm-4.col-md-3.col-md-offset-1 Колонка 2
                div.col-xs-12.visible-xs-block Заголовок
                p.text-muted Серый цвет
                p.text-primary Основной текст
                p.text-success Цвет для сообщения об успехе
                p.text-info Цвет для информации
                p.text-warning Цвет для предупреждений
                p.text-danger Цвет для сообщений об ошибках
                p.bg-primary Основной текст
                p.bg-success Фон сообщения об успехе
                p.bg-info Info
                p.bg-warning Warning
                p.bg-danger Danger Message
                abbr.initialism(title="Bootstrap Test Document" style="display: block;") BTD
                blockquote.pull-right
                    p Some Test Some text
                    footer I am
                div.col-xs-6.col-md-8
                    img.img-circle(src="https://webref.ru/assets/images/bootstrap/img-1a.jpg")
                    img.img-rounded(src="https://webref.ru/assets/images/bootstrap/img-1a.jpg")
                    img.img-thumbnail(src="https://webref.ru/assets/images/bootstrap/img-1a.jpg")
                ul.list-inline(style="display: block; clear: both;")
                    li
                        a(href="#") Сепульки
                    li
                        a(href="#") Сепулькарии
                    li
                        a(href="#") Сепуление
                table.table.table-bordered.table-hover.table-striped
                    thead
                        tr
                            th
                            th 2021
                            th 2022
                            th 2023
                    tbody
                        tr
                            td Рубины
                            td 43
                            td 51
                            td 79

                        tr
                            td Изумруды
                            td 28
                            td 34
                            td 48

                        tr
                            td Сапфиры
                            td 29
                            td 57
                            td 36
                button.btn.btn-default(type="button") Default button
                button.btn.btn-primary.btn-lg.btn-block.visible-xs(type="button") Primary button
                button.btn.btn-info.btn-sm(type="button") Button info
                button.btn.btn-warning.btn-xs(type="button") Warning button
                button.btn.btn-danger(type="button") Danger button
                button.btn.btn-link(type="button" disabled) Blocked Link button



    script(src="jquery.js")
    script(src="bootstrap-3.3.6-dist/js/bootstrap.js")


