doctype html
html
    head
        meta(charset="utf-8")
        link(rel="styleSheet" href="task2.css")
        title Task 2
    body
        h1 Project 3 Task 2
        a.first(href="#") Something
        a.second(href="#") Something
        a.third(href="#") Something