.menu {
    display: block;
    width: 700px;
    margin: 0 auto;
    border: 1px solid blue;
    background: #2696E8;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.menu li {
    list-style-type: none;
    display: list-item;
}

.menu li a {
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    background: #fff;
    color: #000;
}


