
@media screen and (min-width: 800px) {
    div {
        color: blue;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px){
    div {
        color: green;
    }
}

@media screen and (max-width: 500px) {
    div {
        color: red;
    }

}