body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#modalWindow {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    display: none;
    pointer-events: none;
    animation: animationModal .5s;
}

#modalWindow:target {
    display: block;
    pointer-events: auto;
}

.button {
    background-color: #57a5d4;
    color: #fff;
    text-decoration: none;
    margin: 2% auto;
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
}

.window {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background-color: #fff;
    margin: 10% auto;
    padding: 10px;
    background-image: url(http://b.rarewallpapers.com/media/wallpapers_2560x1440/1/violet-sunset-8121.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #FFF;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    transition: .5s;
}

.close:hover {
    color: #fff;
    background-color: #000;
}

@keyframes animationModal {

    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}