.gallery {
    text-align: center;
    perspective: 800px;
}

img {
    width: 350px;
    height: 250px;
}

.left {
    transform: rotateY(-30deg);
    transform-origin: right center;
}

.right {
    transform: rotateY(30deg);
    transform-origin: left center;
}