h1 {
	 color: orange;
	 text-align: center;
 }
 p {
	 text-align: left;
	 font: 12pt sans-serif;
	 
 }
 p:first-letter{
	 color:red;
	 font-size:30px;
 }
 em {
	 background-color:green;
	 color:white;
 }
 #allotment  h2 {
	 color:orange;
 }
 
 #warehouse h2 {
	 color:blue;
 }
 .plants-list {
	 font-weight: bold;
 }
 .vegetables-list {
	 color:red;
 }
 #allotment .fruits-list {
	 color: grey;
 }
 #warehouse .fruits-list {
	 color: green;
 }
 table {
	 font-weight: bold;
 }
 tbody td:first-of-type {
	 color: orange;
	 background-color: white;
 }
 
 tbody td{
	 background-color:green;
	 color:white;
 }