input[type="checkbox"] {
	vertical-align: top;
	margin: 0 3px 0 0; 
	width: 17px;
	height: 17px; /* задаем стандартные параметры для чекбокса для старых версий браузеров*/
}

input[type="checkbox"] + label {
	cursor:pointer;                 /* задаем параметры для курсора в чекбоксе */
}

input[type="checkbox"]:not(checked) {
  position: absolute;
  opacity: 0;                          /* делаем стандартные чекбоксы невидимыми*/
}

input[type="checkbox"]:not(checked) + label {
	position: relative;
    padding: 0 0 0 60px;                   
}

input[type="checkbox"]:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 40px;
  height: 16px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
 }                                                 /* добавляем псевдо чекбоксы */
 
 legend {
	 padding: 10px 0;
 }                                                 /* выравниваем расстояние между чекбоксами и заголовками */
 
input[type="checkbox"]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;                            /* задаем параметры для переключателя внутри чекбокса*/
}
 
 input[type="checkbox"]:checked + label:before {
 background: #9FD468;}                           /* задаем зеленый фон при включенном параметре */
 
 input[type="checkbox"]:checked + label:after {     /* задаем расстояние на которое перемещается переключатель в чекбоксе */
	 left: 26px;
 }
 
 input[type="checkbox"]:focus + label:before {
	 box-shadow: 0 0 0 3px rgba(255,255,0,.5)
 }                                                /* задаем желтую тень при нажатии на чекбокс */
  
 .radio1 + label {
	 cursor: pointer;                /* добавляем курсор для выбора пола*/
 }
  
.radio1:not(checked) {              /* убираем стандартные поля для ввода пола */
	 position:absolute;
	 opacity: 0;
 }
  
.radio1:not(checked) + label {         /* сдвигаем названия опций вправо */
	  position:relative;
	  padding: 0 5px 0 35px;
  }
  
.radio1:not(checked) + label:before {               /* добавляем псевдо радио */
	  content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      background: white;
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
 }                                                    
 
.radio1:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;                            /* задаем параметры для переключателя внутри радио*/
}
 
.radio1:checked + label:after {
 background: #9FD468;}                            /* задаем цвет включенной кноки*/
 
 .radio1:focus + label:before {
	 box-shadow: 0 0 0 3px rgba(255,255,0,.5)
 }
 
 
 