

.sivtsev {
    width: 35%;
    font-family: Arial, serif;
    font-size: 25px;
    margin: 50px 0 0 50px;
    text-align: justify;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 5px #555555;
}

.sivtsev p:after {
    content:"";
    display: inline-block;
    width: 100%;
}

.uline {
    border: 1px solid #ff0000;
}

.sivtsev p {
    text-align: justify;
    line-height: 12px;
}

.sight01 {
    font-size: 4em;
}

.sight02 {
    font-size: 3em;
}

.sight03 {
    font-size: 2em;
}

.sight04 {
    font-size: 1.5em;
}

.sight05 {
    font-size: 1.3em;
}

.sight06 {
    font-size: 1.2em;
}

.sight07 {
    font-size: 1.1em;
}

.sight08 {
    font-size: 1em;
}

.sight09 {
    font-size: .9em;
}

.sight10 {
    font-size: .6em;
}

.sight15 {
    font-size: .5em;
 }

.sight20 {
    font-size: .4em;
}







