form {
	font:12px Tahoma;
}

input {
	display:none; /*убираем поля для галочек*/
}

label {
	float:left;
	margin-right: 39px; /*добавили отступы справа от каждого элемента label*/
	text-decoration: underline; /*добавили нижнее подчеркивание для элементов label*/
	cursor:pointer; /*добавляем стиль курсора*/
}

label:last-of-type {
	margin-right: 31px; /*двигаем список значений ближе к элементам label*/
}

label:hover {
	text-decoration:none; /* убираем подчеркивание при наведении курсора*/
}

label[for="red"] {
	color:red;
}
 
label[for="green"] {
	color:green;
}

label[for="blue"] {
	color:blue;
}

/* задаем цвета текста для трех элементов label*/ 




