doctype html
html
    head
        meta(charset="utf-8")
        title Accordeon menu
        link(rel="styleSheet" href="main.css")
    body
        div.container
            div.accordion
                div.buffle
                    input(type="radio" id="radio-option1" name="accordion-radios" checked)
                    label(for="radio-option1") Accordion
                    div.buffle-inner.first.
                          Аккордеон (от фр. accordéon) — язычковый клавишно-пневматический музыкальный инструмент с полным хроматическим звукорядом на правой клавиатуре, басами и готовым (аккордовым) или готово-выборным аккомпанементом на левой.
                          Современная разновидность ручной гармоники. В 1829 году это название дал венский органный мастер К. Демиан усовершенствованной им гармони.
                div.buffle
                    input(type="radio" id="radio-option2" name="accordion-radios")
                    label(for="radio-option2") Устройство
                    div.buffle-inner.second
                        p Аккордеон содержит три составные части
                        ul
                            li правая клавиатура
                            li мех для привода в действие звуковых язычков
                            li левая клавиатура
                div.buffle
                    input(type="radio" id="radio-option3" name="accordion-radios")
                    label(for="radio-option3") История
                    div.buffle-inner.third
                        p В русской традиции аккордеоном принято называть только инструменты с правой клавиатурой фортепианного типа. В США, Европе и других странах принято называть аккордеонами все разновидности ручных гармоник, которые в свою очередь могут иметь собственные названия. Например — некоторые гармони, они называются диатоническими кнопочными аккордеонами. Баян является разновидностью кнопочного аккордеона и отличается от него особой конструкцией.
                        p В конце XIX века аккордеоны в большом количестве изготавливались в Клингентале (Саксония). До сих пор, одними из самых распространённых в России являются аккордеоны немецкой фирмы Weltmeister различных марок, например, Diana, Stella, Amigo. Встречаются также другие фирмы-производители, как зарубежные, так и советские и российские.
