.header {
    height: 150px;
    background-color: bisque;
}

.main {
    background-color: aliceblue;
}

.footer {
    background-color: aquamarine;
    height: 150px;
}

/* если добавить внутренние блоки иерархия сохраняется */

/*.main_inner {
    height: 1000px;
    border: 1px solid red;
    background-color: black;
    width: 100%;
}
*/

