/* Срасываем начальные параметры
*/



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}







/* пользовательские стили */


/* импортируем шрифты */

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Reg.ttf);
}

@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-Regular.otf);
}

/* задаем позиционирование и фон главному блоку галереи */

.photo_block {
    margin: 20px auto;
    ~outline: 1px solid black;
    text-align: center;
    background-color: #f6f9f9;
}

/* задаем шрифт заголовку */

.photo_block_header {
    font-family: "Lato Regular", sans-serif;
}

.photo_block_header h3 {
    color: #2d3950;
    font-size: 41px;
    margin-bottom: 25px;
    display: inline-block;
    margin-top: 38px;
}

/* позиционируем элементы в блоке с фото */

.photo_block_header p {
    color: #909090;
    font-size: 15px;
    margin-bottom: 32px;
}


.gallery_block {
    display: inline-block;
    ~outline: 1px solid red;
    margin: 10px;
    position: relative;
}

.photo_block img {
    width: 360px;
    height: 260px;
}

.photo_block_inner {
    max-width: 1200px;
    ~outline: 1px dotted yellowgreen;
    text-align: center;
    display: inline-block;
}

/* задаем свойства фона при ховере на картинке */

.gallery_block:hover .photo_block_inner_background {
    opacity: 0.8;
    display: block;
}

/* задаем свойства кнопок при ховере + z-index приоритет */

.gallery_block:hover .photo_block_inner_link {
    opacity: 1;
    z-index: 2;
    display: block;
}

/* задаем свойства фона и кнопок вне ховера */

.photo_block_inner_background {
    position: absolute;
    box-sizing: border-box;
    height: 260px;
    width: 360px;
    display: none;
    transition: all 0.3s;
    top: 0;
    left: 0;
}

.photo_block_inner_link {
    position: absolute;
    box-sizing: border-box;
    padding-top: 105px;
    padding-left: 130px;
    text-align: center;
    display: none;
    transition: all 0.3s;
    top: 0;
    left: 0;

}

.photo_block_inner_background {
    background: #57a5d4;
}

/* свойства кнопок */

.link_zoom {
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
}

.link_zoom:hover{
    background-color: #4f9dcf;
    opacity: 0.5;
}

.link_save {
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-image: url(../img/link.png);
    background-repeat: no-repeat;
    background-position: center;
}

.link_save:hover {
    background-color: #4f9dcf;
    opacity: 0.5;
}

/* задаем свойства модального окна */

.overlay {
    position: fixed;        /* окно статично при прокрутке */
    display: none;          /* его не видно без ховера */
    pointer-events: auto;    /* не включено */
    background: rgba(255,255,255, 0.7);   /* фон прозрачный */
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay:target {
    display: block;           /* отображен в виде блока при включении */
    pointer-events: auto;     /* доступен для клика */
}

.popup {
    max-width: 1200px;        /* задаем параметры модального окна */
    min-width: 360px;
    width: auto;
    z-index: 20;
    background: #fff;
    padding: 30px 10px 10px;
    position: fixed;
    top: -10px;
    margin-left: 8%;
    animation: animationModal .7s;     /* добавим анимацию, чтобы модальное окно всплывало плавно */
}

/* задаем параметры кнопки для модального окна */

.close_window {
    font-family: "Myriad Pro", sans-serif;
    font-size: 15px;
    background: #f74c26;
    color: #fff;
    line-height: 38px;
    position: absolute;
    right: 35px;
    text-align: center;
    top: 20px;
    width: 38px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    transition: all ease .8s;
}

/* свойства кнопки при ховере, делаем небольшую анимацию */

.close_window:hover {
    background: rgba(255,255,255, 0.8);
    color:#000;
    transform: rotate(360deg);
}

/* растягиваем изображение на всю ширину блока popup */

.popup img {
    width: 100%;
    height: auto;
}

/* добавляем правила для анимации модального окна */

@keyframes animationModal {

    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}