/* общие стили */

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #424243;
    max-width: 1280px;
    min-width: 400px;
    position: relative;
    background-color: #f0eff0;
}

.container{
    max-width: 1179px;
    min-width: 240px;
    margin: 68px auto;
    position: relative;
}

.top-block {
    background-color: #fff;
}

/* заголовок */

.top-block__header {
    display: block;
    text-align: center;
    font-size: 36px;
    padding-top: 42px;
    padding-bottom: 35px;
}

/* стили левого блока верхней части */

.top-block__wrapper {
    display: flex;
}

.top-block__leftside-content {
    ~outline: 1px solid red;
    height: 608px;
    flex: 1;
}

.top-block__bank {
    margin-left: 30px;
    ~outline: 1px dashed black;
    position: relative;
}

.top-block__bank_left-side {
    display: inline-block;
}

.top-block__bank-name {
    display: block;
    text-align: center;
    ~outline: 1px dotted brown;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.top-block__rates {
    display: inline-block;
    margin-left: 18px;
    padding-top: 57px;
    position: relative;
}

.top-block__rates div {
    width: 100%;
    position: relative;
    bottom: 23px;
}


.top-block__arrow {
    display: inline-block;
    position: absolute;
}

.arrow-first {
    right: 0;
    bottom: 0;
}

.arrow-second {
    top: 40%;
    right: 30px;
}

.arrow-third {
    top: 40%;
    right: 0;
}

.arrow-fourth {
    right: 0;
}

.top-block__rates span {
    font-weight: bold;
}

.mobile-arrow {
    display: none;
}
/* центральный блок верхней части */


.top-block__center {
    height: 608px;
    flex: 1;
}

.top-block__logo {
    display: block;
    text-align: center;
    margin-top: 17px;
}

.top-block__esn {
    margin-top: 30px;
}

.top-block__table-title {
    font-size: 24px;
    display: block;
    text-align: center;
    margin-bottom: 19px;
    font-weight: 400;
}

.top-block table {
    border: 4px solid #00b297;
    box-sizing: border-box;
    width: 100%;
    height: 225px;
    font-size: 16px;
    border-collapse: collapse;
}

.top-block thead {
    color: #fff;
    background-color: #00b297;
    font-style: italic;
}

.top-block thead th {
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.top-block tbody td:first-of-type {
    font-weight: bold;
}

tbody .row-name {
    background-color: #dfe1e5;
}

.top-block tbody span {
    top: 9px;
    left: 4%;
    position: relative;
    padding: 7% 25% 10% 12%;
    box-sizing: border-box;

}

tr {
    border-bottom: 1px solid #00b297;
}

.top-block .highest {
    background-color: #d4524b;
    color: #fff;
}

.top-block .lowest {
    background-color: #f1c40f;
    color: #fff;
}

/* правый блок верхней части */


.top-block__rightside {
    ~outline: 1px solid blue;
    height: 608px;
    flex: 1;
    position: relative;
}

.top-block__rightside-arrow {
    ~outline: 1px solid black;
    display: inline-block;
    position: relative;
    bottom: 20%;
    width: 16%;
}

.top-block__monitor {
    ~outline: 1px solid red;
    display: inline-block;
    margin-top: 194px;
    position: relative;
}

.top-block__monitor-rates {
    position: absolute;
    font-size: 24px;
    color: #fff;
    top: 24%;
    left: 8%;
}

.top-block__monitor-sell {
    background-color: #d4524b;
    margin-right: 15px;
}

.top-block__monitor-buy {
    background-color: #0fa08a;
}

.top-block__monitor-rates span:nth-of-type(2) {
    text-transform: uppercase;
    font-weight: bold;
}

.top-block__monitor-rates span:nth-of-type(1) {
    padding-top: 5px;
}

.top-block__monitor-sell,
.top-block__monitor-buy {
    display: inline-block;
    width: 115px;
    height: 68px;
}

.top-block__monitor-sell span,
.top-block__monitor-buy span {
    display: block;
    height: 50%;
    text-align: center;
}

/* нижняя часть */

.lower-block__title {
    font-size: 36px;
}

.lower-block__content {
    margin-top: 42px;
}

.lower-block__inner {
    ~outline: 1px dashed black;
    position: relative;
    margin-bottom: 26px;
}

.lower-block__number {
    display: inline-block;
    position: absolute;
    font-size: 44px;
    color: #b3b3b4;
    top: 7px;
}

.lower-block__text {
    display: inline-block;
    ~outline: 1px solid purple;
    margin-left: 45px;
}

.lower-block__text1 {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
}

.lower-block__text2 {
    font-size: 16px;
}

/* стили для кнопки скролла */

#button-up {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 100;
}

#button-up.up {
    opacity: 0.7;
    z-index: 100;
    cursor: pointer;
}

/* адаптивность */

@media screen and (max-width:1123px) {
    .top-block__wrapper {
        display: block;
        text-align: center;
    }
    .top-block__leftside-content {
        display: block;
    }
    .top-block__bank {
        display: inline-block;
        margin-right: 10%;
        margin-left: 10%;
    }
    .arrow-first {
        left: 40em;
        top: 350px;
    }
    .arrow-fourth {
        transform: rotate(180deg);
        right: 40em;
        top: 190px;
    }
    .arrow-second, .arrow-third {
        display: none;
    }
    .top-block table {
        max-width: 393px;
        margin: auto;
    }
    .top-block__table-title {
        margin-left: auto;
        margin-right: auto;
    }
    .top-block__monitor {
        margin: 50px 0 0;
        padding: 0;
    }
    .top-block__rightside-arrow {
        margin: 0;
        padding: 0;
        width: 55px;
        height: 55px;
        position: absolute;
        left: 47%;
        transform: rotate(270deg);
        top: 0;
    }
    .top-block__rightside {
        margin-top: -200px;
    }
    .top-block__center {
        margin-top: -200px;
    }
    .container {
        margin: auto;
    }
    .top-block {
        overflow: hidden;
        height: 1300px;
    }
    .lower-block {
        margin-top: 20px;
    }
}

@media screen and (max-width:850px) {
    .top-block__bank {
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
    }
    .arrow-first {
        transform: rotate(60deg);
        left: 40em;
    }
    .arrow-fourth {
        transform: rotate(120deg);
        top: 213px;
        right: 35em;
    }
}

@media screen and (max-width:627px) {
    .top-block {
        overflow: hidden;
        height: 1600px;
    }
    .top-block__rightside {
        margin-top: -150px;
    }
    .top-block__center {
        margin-top: 0;
    }
    .top-block__leftside-content {
        margin-bottom: 100px;
    }
    .arrow-first, .arrow-fourth {
        display: none;
    }
    .top-block__logo {
        position: relative;
    }
    .mobile-arrow {
        display: inline-block;
        position: absolute;
        transform: rotate(90deg);
        top: -80px;
        margin-left: 52px;
        text-align: center;
    }
    .top-block__rightside-arrow {
        left: 44%;
    }
    .lower-block__title {
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (max-width:470px) {
    .top-block__header {
        font-size: 28px;
    }
}