extends ./template

block title
    title Jade Template 2

append css
    link(rel="styleSheet" href="main2.css")

block content
        h1 lorem ipsum
        p some text
        p second variant of jade file inserted