
doctype html
html
    head
        meta(charset="utf-8")
        title Homework 2
        link(rel="stylesheet" href="main.css")

    body
        div.container
            h1 Состояние по умолчанию
            button.btn.btn-default btn-default
            button.btn.btn-info btn-info
            button.btn.btn-secondary btn-secondary

            h1 Нажатое состояние
            button.btn.btn-default.active btn-default
            button.btn.btn-info.active btn-info
            button.btn.btn-secondary.active btn-secondary

            h1 Различные размеры
            button.btn.btn-default.btn-xs btn xs-size
            button.btn.btn-default btn default-size
            button.btn.btn-default.btn-xl btn xl-size


