

@keyframes photo-cube  {

    0% {transform: rotateX(0deg) rotateY(0deg);}
    100% {transform: rotateX(1080deg) rotateY(360deg)}

}

@keyframes rot {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#holder {
    margin: 50px auto;
    perspective: 600px;
    text-indent: 0;
}

.box {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: photo-cube 20s infinite linear;
}

.box div {
    position: absolute;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    animation: rotate 15s infinite linear;
}

.box div img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 0;
    animation: rot 10s infinite linear;
}

.box div.side1 {
    background: rgba(213, 62, 7, 0.8);
    transform:translateZ(100px);
}

.box div.side2 {
    background: rgba(127, 255, 212, 0.8);
    transform:rotateY(90deg) translateZ(100px);
}

.box div.side3 {
    background: rgba(255, 219, 88, 0.8);
    transform:rotateY(180deg) translateZ(100px);
}

.box div.side4 {
    background: rgba(153, 17, 153, 0.8);
    transform:rotateY(-90deg) translateZ(100px);
}

.box div.side5 {
    background: rgba(0, 71, 171, 0.8);
    transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.box div.side6 {
    background: rgba(0, 171, 147, 0.8);
    transform:rotateX(90deg) translateZ(100px);
}

footer {
    text-align: center;
    margin-top: 150px;
}

