
/* задаем отступы для общего блока, делаем справа большой margin, чтобы на мониторе был виден конец блока*/

body {
    margin: 10px 155px 10px 10px;
    position: relative;
}

/* задаю стили для формы, паддинг справа побольше, чтобы засунуть "абсолютную" кнопку */


form {
    background: #ffcc66;
    width: 100%;
    padding: 5px 100px 5px 5px;
    border-right: 2px solid #ffcc66;
}


/* стили для кнопки, сдвигаем кнопку в правый верх блока */

button {
    border: 1px solid #d9c59c;
    border-radius: 3px;
    background: linear-gradient(to top, #dddddd, #ffffff);
    width: 68px;
    height: 25px;
    padding-right: 10px;
    position: absolute;
    right: -85px;
    top: 8px;
}

/* делаем 100% ширину строке поиска, задаем высоту*/

input[type="text"] {
    width: 100%;
    border: 1px solid #c6c6c6;
    height: 25px;
    box-shadow: inset 0 1px 3px #c6c6c6; ;
}

/* делаем стрелку в виде псевдоэлемента */

form:after {
    content: "";
    position: absolute;
    right: -157px;
    top: -1px;
    border: 30px solid transparent;
    border-left: 20px solid #ffcc66;           /* задаем левому бордеру 20px чтобы получился вдавленный треугольник */


}