body {
    margin: 0;
    padding: 0;
}


/* Задаем свойства заголовку*/

header {
    font-size: 30px;
    font-family: "Trebuchet MS", serif;
    padding: 60px 0 0;
    text-transform: uppercase;
    text-align: center;
    color: #41525c;
    margin-bottom: 60px;
}

/* задаем свойства контейнеру для трех блоков */

section {
    margin: 0 200px;
    position: relative;
    text-align: center;
}

/* задаем общие свойства для трех блоков */

.first-block, .second-block, .third-block {
    ~border-radius: 6px;
    box-sizing: border-box;
    display: inline-block;
}


/* задаем цвет границы, размеры и тень для центрального блока*/

.second-block {
    width: 297px;
    height: 470px;
    border: 3px solid #ee8129;
    box-shadow: 3px 3px 5px 3px #edf5fd,
    -3px -3px 5px 3px #edf5fd;
    border-radius: 5px;
    position: relative;
    z-index:1;
}

.first-block {
    border: 1px solid #e8eaec;
    border-right: none;               /* убираем правый бордер для первого блока */
    position: relative;
    width: 290px;
    height: 440px;
    border-radius: 5px;
    z-index:2;
    right: -4px;
}

.third-block {
    border: 1px solid #e8eaec;
    border-left: none;                /* убираем левый бордер для третьего блока */
    position: relative;
    width: 290px;
    height: 440px;
    border-radius: 5px;
    right: 4px;
    z-index: 2;
}

/* общие свойства для всех заголовков внутри каждого блока*/

.inner_block1 {
    color: #fff;
    font-size: 24px;
    font-family: Trebuchet MS, serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px 73px;
}

/* задаем каждому заголовку блока цвет фона*/

.first-block .inner_block1 {
    background-color:#37c2d3;
    border-top-left-radius: 5px;  /* закругляем верхний левый угол у первого блока */
}

.second-block .inner_block1 {
    background-color: #ee8129;
    padding: 27px 73px 27px 73px;

}

.third-block .inner_block1 {
    background-color: #1cd79a;
    border-top-right-radius: 5px;
}

/* задаем стили для блока ICONIC GRAPHICS */

.inner_block2 {
    font-size: 24px;
    font-family: Trebuchet MS, serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 47px 15px;
    color: #35495a;
}

/* задаем стили для блока с ценами */

.inner_block3 {
    font-size: 72px;
    font-family: Trebuchet MS, serif;
    padding: 0 40px 0 40px;
    color: #35495a;
    font-weight: bold;
}

.inner_block3 sub{
    font-size: 18px;
    font-family: Trebuchet MS, serif;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    right: 25px;
    bottom: 5px;
}

.inner_block3 sup {
    font-size: 22px;
    font-family: Trebuchet MS, serif;
    position: relative;
    left: 20px;
    bottom: 15px;
}

/* задаем стили для блока со списками */


ul li {
    list-style: none;
    line-height: 2em;
    word-spacing: 3px;
    font-family: Trebuchet MS, serif;
    font-size: 15px;
    color: #989ca4;
    border: 1px solid #fff;
    text-align: left;
    padding-left: 47px;

}

/* задаем фон четным и нечетным сторонам списка в блоках */

ul li:nth-child(odd) {
    background-color: #edf5fd;
}

ul li:nth-child(even) {
    background-color: #f5f5f6;
}

/* выравниваем список по середине */

ul {
    padding: 0 13px;
}

/* добавляем псевдоэлемент before в виде галочки спереди в списках */

li:before {
    content: url(image5-2.gif);
    position: relative;
    top: 5px;
    right: 10px;
}

/* добавляем стили для кнопки*/

button {
    color: #fff;
    font-family: Trebuchet MS, serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 13px 75px;
    margin: 0 16px;
    border-bottom: 3px solid #b3560b;
}

/* задаем фон и границы для центральной кнопки */

.second-block button {
    background-color: #ee8129;
    border: 1px solid #fff;
    border-bottom: 3px solid #b3560b;
}

/* задем фон и границы для крайних кнопок */

.first-block button, .third-block button {
    background-color: #3371ab;
    border-bottom: 3px solid #16436a;
}

/* задаем стиль при нажатии на кноки, пропадает нижний бордер */

button:focus {
    border-bottom: 1px solid #fff;
}















