nav {
	font-family: Economica, serif; 
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #ab08ff;
	width: 900px;
	font-size: 1.2em;
	position: relative;
	overflow:hidden;
	left: 200px;
	padding-left:60px;
}

li {
	padding: 10px;
	float: left;
	list-style-type: none;
	position:relative;
}

li:hover {
	color:grey;
	background-color: #d9d9d9;
}

li:last-of-type {
	clear:left;
	position:absolute;
	left: 850px;
}
