header {
	border: 3px solid #ee8129;
	width: 295px;
	height: 460px;
	border-radius: 5px;
	position: relative;
	box-shadow: 5px 5px #edf5fd,
	            -5px -5px  #edf5fd;
}

#first {
	color: #fff;
	background-color: #ee8129;
	font-size: 24px;
	font-family: Trebuchet MS, serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px 73px;
}

#second {
	font-size: 24px;
	font-family: Trebuchet MS, serif;
	text-transform: uppercase;
	padding: 20px 50px 15px;
	color: #35495a;
}

#third {
	font-size: 72px;
	font-family: Trebuchet MS, serif;
	padding: 0 40px 0 47px;
	color: #35495a;
	font-weight: bold;
}

#third  sub{
	font-size: 18px;
	font-family: Trebuchet MS, serif;
	text-transform: capitalize;
	font-weight: 600;
	position: relative;
	right: 25px;
	bottom: 5px;
}

#third  sup {
	font-size: 22px;
	font-family: Trebuchet MS, serif;
	position: relative;
	left: 20px;
	bottom: 15px;
} 

ul li {
	list-style: none;
	line-height: 2em;
	word-spacing: 3px;
	font-family: Trebuchet MS, serif;
	font-size: 15px;
	color: #989ca4;
	border: 1px solid #fff;
	text-align: left;
	padding-left: 47px;
	
}

ul li:nth-child(odd) {
	background-color: #edf5fd;
}

ul li:nth-child(even) {
	background-color: #f5f5f6;
}

ul {
	padding: 0 13px; 
}

li:before {
	content: url(image5-2.gif);
	position: relative;
	top: 5px; 
	right: 10px; 
}

button {
	background-color: #ee8129;
	color: #fff;
	font-family: Trebuchet MS, serif;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 6px;
	text-transform: uppercase;
	padding: 13px 75px; 
	margin: 0 19px;
	border-bottom: 3px solid #b3560b;
}

button:focus {
	border-bottom: 1px solid #fff;
}







