/* 
	— цвет внешних ссылок #f70;
	— ссылка в новом окне должна 
	  после себя содержать utf символ 
	  без подчеркивания
	— ссылки на сервисы google должны быть цвета #666	
*/
a[href^="http"] {    /* используем селектор атрибута a[href^=] так как нужна выборка с начала текста */
	color:#f70;
}

a[href*="google"] {  /* используем селектор атрибута a[href*=] так как нужна выборка текста в любом месте текста */
	color:#666;
}

a[target="_blank"] /* устанавливаем relative вместо статичного положения для переноса */
{
	position: relative;
}


a[target="_blank"]:after {     /* используем псевдоэлемент after для добавления текста после текста html*/
	content: "\21F1";         /* используем значение 21F1 для добавления символа */
	position: absolute;       /* добавляем свойство absolute чтобы перенести символ */
	display: inline-block;    /* добавляем блочные св-ва для строчного элемента */
	padding: 0 10px;          /* добавляем нужные отступы */
	transform:rotate(90deg);  /* переворачиваем на 90 градусов символ */
	
	right: -25px;             /* сдвигаем влево */
}