body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu a {
	background: #3d3d3d;
	color: #fff;
	padding: 10px;
	display: block;
	border: 1px solid #666;
	transition: 0.5s all;   /*добавляет эффект к ховеру*/
}

.menu li:first-child a,
.menu li .menu__drop li:first-child a {
	border-radius: 5px 5px 0 0;
}

.menu li:last-child a,
.menu li .menu__drop li:last-child a {
	border-radius: 0 0 5px 5px;
	border-bottom: 0;
}
.menu li .menu__drop li a {
	border-radius: 0;
	border: 1px solid #666;
}

.main {
	width: 200px;
	margin: 20px;
}

.menu a:hover {
	background: #666;
	padding: 10px 0 10px 20px;
}

.menu__list {
	position: relative;
}

.menu__drop {
	position: absolute;
	width: 100%;
	left: 100%;
	opacity: 0;
	top: -9999em;           /* скрываем выпадающее меню в обычном состоянии */
	transition: 0.5s opacity;    /* добавляем эффект к прозрачности при наведении */
	border-left: 10px solid transparent; 
}

.menu__list:hover .menu__drop {
	opacity: 1;
	top: 0;
	
}

.menu__list:after {
	content: " ";
	position: absolute;
	border: 5px solid; 
	border-color: transparent transparent transparent #fff;
	top: 1em;
	right: 0.7em;
	transition: 0.5s;
}

.menu__list:hover::after {
	transform: scaleX(-1);
}
















